@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: var(--warna3) ;
}
.container{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
    position: relative;
    padding: 30px 40px;
    min-height: 100vh;
}
b{
    font-weight: 600;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    display: flex;
    align-items: center;
}
p{
    margin: 0;
}
.row-judul{
    margin-bottom: 40px;
}
.row-judul .col-8 h1{
    font-weight: 700;
    margin: 0;
}

.list-leaderboard{
    background-color: var(--warna11);
    border-radius: 15px;
    padding: 10px 30px;
    margin-bottom: 20px;
}
.list-leaderboard:nth-child(1){
    background-color: var(--warna8);
}
.list-leaderboard:nth-child(2){
    background-color: var(--warna9);
}
.list-leaderboard:nth-child(3){
    background-color: var(--warna10);
}
.nomor-list{
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
}
.user-identity{
    display: flex;
    align-items: center;
}
.user-identity img{
    margin-right: 20px;
}
.boxnama-username{
    width: 80%;
}
.nama {
    font-weight: 800;
    font-size: 23px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.username{
    font-size: 18px;
    font-weight: 500;
}
.ket-poin{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.ket-poin div{
    margin: 0 10px;
    text-align: center;
}
.judul-matkul{
    font-size: 20px;
    font-weight: 800;
}
.poin-matkul{
    font-weight: 500;
}
.total-poin{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 20px 20px;
    color: white;
    font-weight: 800;
    font-size: 35px;
    border-radius: 15px;
}
.arrow{
    display: none;
}

@media (max-width: 1200px) {
    .boxnama-username{
        width: 55%;
    }
}

@media (max-width: 992px) {
    .container{
        padding: 40px 20px 0 20px;
    }
    .kembali span{
        display: none;
    }
    .list-leaderboard{
        position: relative;
        padding: 0 0px 20px 0;
        text-align: center;
    }
    .nomor-list{
        width: 15%;
        font-size: 23px;
        padding: 0;
        padding-left: 10px;
    }
    .user-identity{
        position: relative;
        width: 80%;
        display: block;
        margin: 10px 0;
        text-align: start;
    }
    .user-identity img{
        position: absolute;
        margin-right: 0;
        top: -22px;
        right: -25px;
    }
    .boxnama-username{
        width: 100%;
    }
    .boxnama-username .nama{
        font-size: 18px;
    }
    .boxnama-username .username{
        font-size: 16px;
    }
    .ket-poin{
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: center;
        margin: 10px 0;
    }
    .total-poin{
        width: 60%;
        margin: 15px auto 25px auto;
    }
    .arrow{
        position: absolute;
        display: flex;
        justify-content: center;
        bottom: 20px;
    }
    .arrow div{
        width: 10px;
        height: 2px;
        background-color: black;
        border-radius: 10px;
        transition: 0.5s;
    }
    .arrow div:nth-child(1){
        transform: rotate(45deg) translateX(2px);
    }
    .arrow div:nth-child(2){
        transform: rotate(-45deg) translateX(-2px);
    }
    .list-leaderboard[open] .arrow div:nth-child(1){
        transform: rotate(-45deg) translateX(2px);
    }
    .list-leaderboard[open] .arrow div:nth-child(2){
        transform: rotate(45deg) translateX(-2px);
    }
}