@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
	background:url(../assets/Register/bg-register.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.container{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.row{
    width: 100%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}
/* KOLOM KIRI */
.kolom-kiri{
    background-color: var(--warna1);
    padding: 30px 0 30px 0;
    color: white;
}
.kembali{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.kembali:hover{
    color: var(--warna2);
}
.penjelasan{
    display: flex;
    padding: 0 30px;
    margin-top: 30px;
}
.keterangan{
    padding: 0px 10px 0px 10px;
    
}
.gambar{
    margin-right: 10px;
}
.gambar img{
    background-color: rgba(255, 255, 255, 0.164);
    padding: 15px;
    border-radius: 10px;
    width: 100px;
}
/* KOLOM KIRI */


/* KOLOM KANAN */
.kolom-kanan{
    background-color: var(--warna5);
    padding: 20px 40px;
}
.form-group {
	border-radius: 15px;
	border:1px;
}
.form-group .input-control {
    margin-bottom: 10px;
	padding: 10px 15px;
	width: 100%;
	box-sizing: border-box;
	font-size:15px;
	border-radius: 15px;
	border:1px solid;
}
.ckls-box{
    display: flex;
    align-items: center;
}
#ckls{
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.ckls-label{
    font-weight: 600;
	font-size: 15px;
    user-select:none;
    -moz-user-select:none;
    cursor: pointer;
}
.btn{
	width: 100%;
	padding:10px;
	font-size:15px;
	background-color: #2A41F8;
	border-radius: 10px;
    font-weight: 600;
	color: #FFFFFF;
}
.btn:hover {
	cursor: pointer;
}
/* KOLOM KANAN */