@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
	background:url(../assets/Register/bg-register.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.container{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.row{
    width: 100%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}
/* KOLOM KIRI */
.kolom-kiri{
    background-color: var(--warna1);
    padding: 10px;
    color: white;
}
.kembali{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.kembali:hover{
    color: var(--warna2);
}
/* KOLOM KIRI */

/* KOLOM KANAN */
.kolom-kanan{
    background-color: var(--warna5);
    padding: 20px 40px;
}
/* KOLOM KANAN */