body {
    background-color: var(--warna3);
}

.container {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
    position: relative;
    padding: 0;
}

.row {
    width: 100%;
    height: 100%;
    margin: 0;
}

/* KOLOM KIRI */
.kolom-kiri {
    padding: 30px 0 0 80px;
}
.list {
    background-color: var(--warna2);
    border-radius: 15px;
    margin: 15px 10px 15px 0;
    padding: 15px;
}
.scroll{
    height: 210px;
    overflow-y: scroll;
    margin-bottom: 30px;
}
.scroll::-webkit-scrollbar{
    width: 9px;
    height: 100px;
}
.scroll::-webkit-scrollbar-track{
    background-color: none;
    
}
.scroll::-webkit-scrollbar-thumb{
    background: var(--warna1);
    border-radius: 10px;
}
.scroll::-webkit-scrollbar-thumb:hover{
    background-color: var(--warna7)
}
.card{
    margin-bottom: 20px;
    width: 10rem;
}
.content{
    position: absolute;
    color:aliceblue;
}
/* KOLOM KIRI */

/* KOLOM KANAN */
.kolom-kanan {
    background-color: var(--warna3);
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.05) inset;
    position: relative;
}
.profile{
    margin-top: 30px;
}
.profile-image{
    border-radius: 50%;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.button{
    position: absolute;
    bottom: 25px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
.rank{
    background-color: var(--warna11);
    border-radius: 15px;
}
.list-group{
    background-color: var(--warna11);
    border-radius: 15px;
}
button{
    background-color: var(--warna1);
    border-radius: 10px;
    width: 250px;
    color: white;
    padding: 10px 25px;
    border: none;
}
.leaderboard{
    background-color: #EEEEEE;
    border-radius: 15px;
    overflow: hidden;
}
.leaderboard li{
    background-color: transparent;
    border: 0;
}
.list-group-item.disabled, .list-group-item:disabled {
    background-color: transparent;
}
.leaderboard .satu{
    background-color: var(--warna8);
}
.dua{
    background-color: var(--warna9);
}
.tiga{
    background-color: var(--warna10);
}
/* KOLOM KANAN */
