:root{
    --warna1  : #2A41F8;
    --warna2  : #D6DEF3;
    --warna3  : #F7F7F7;
    --warna4  : #000000;
    --warna5  : #FFFFFF;
    --warna6  : #474747;
    --warna7  : #4156fa;
    --warna8  : #F8E32A;
    --warna9  : #2AF8BA;
    --warna10 : #2AF87C;
    --warna11 : #D9D9D9;
}