body{
    background-color: var(--warna3) ;
}
.container{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
    position: relative;
    padding: 30px 80px 30px 100px;
}

/* ROW JUDUL */
.row-judul h1{
    margin: 0;
    font-weight: 600;
}
.row-judul p{
    font-size: 14px;
    color: var(--warna6);
}
/* ROW JUDUL */

/* ROW MOTIVASI */
.row-motivasi{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row-motivasi .center-row{
    width: 80%;
}
.card-motivasi{
    background-color: var(--warna1);
    color: white;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.nyumbang{
    text-align: center;
}
/* ROW MOTIVASI */

/* ROW MEET */
.row-row-meet{
    margin-bottom: 30px;
}
.card-meet{
    background: url(../assets/Komunitas/rkuliah.jpg);
    background-size: cover;
    background-position: 0 -500px;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: 15px 10px 30px 0;
    position: relative;
    overflow: hidden;
    padding: 0;
}
.card-meet2{
    background: url(../assets/Komunitas/rkuliah2.jpg);
    background-size: cover;
    background-position: 0 -330px;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: 15px 10px 30px 0;
    position: relative;
    overflow: hidden;
    padding: 0;
}
.card-meet3{
    background: url(../assets/Komunitas/rkuliah3.jpg);
    background-size: cover;
    background-position: 0 -220px;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: 15px 10px 30px 0;
    position: relative;
    overflow: hidden;
    padding: 0;
}
.card-meet4{
    background: url(../assets/Komunitas/rkuliah4.jpg);
    background-size: cover;
    background-position: 0 -400px;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: 15px 10px 30px 0;
    position: relative;
    overflow: hidden;
    padding: 0;
}
.card-meet5{
    background: url(../assets/Komunitas/rkuliah5.jpg);
    background-size: cover;
    background-position: 0 -460px;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: 15px 10px 30px 0;
    position: relative;
    overflow: hidden;
    padding: 0;
}
.card-meet6{
    background: url(../assets/Komunitas/rkuliah6.jpg);
    background-size: cover;
    background-position: 0 -190px;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: 15px 10px 30px 0;
    position: relative;
    overflow: hidden;
    padding: 0;
}
.card-meet7{
    background: url(../assets/Komunitas/rkuliah7.jpg);
    background-size: cover;
    background-position: 0 -400px;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: 15px 10px 30px 0;
    position: relative;
    overflow: hidden;
    padding: 0;
}
.card-meet8{
    background: url(../assets/Komunitas/rkuliah8.jpg);
    background-size: cover;
    background-position: 0 -350px;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: 15px 10px 30px 0;
    position: relative;
    overflow: hidden;
    padding: 0;
}
.card-meet9{
    background: url(../assets/Komunitas/rkuliah9.jpg);
    background-size: cover;
    background-position: 0 -300px;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: 15px 10px 30px 0;
    position: relative;
    overflow: hidden;
    padding: 0;
}
.card-meet-keterangan{
    background-color: var(--warna1);
    width: 25%;
    height: 100%;
    color: white;
    padding: 20px;
}
.card-meet-keterangan p{
    margin: 0;
    font-size: 16px;
}
/* ROW MEET */
