body{
    background-color: var(--warna3) ;
}
.container{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
    position: relative;
    padding: 30px 80px 30px 100px;
}

/* ROW JUDUL */
.row-judul h1{
    margin: 0;
    font-weight: 600;
}
.row-judul p{
    font-size: 14px;
    color: var(--warna6);
}
/* ROW JUDUL */

/* ROW MOTIVASI */
.row-motivasi{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row-motivasi .center-row{
    width: auto;
}
.card-motivasi{
    background-color: var(--warna1);
    color: white;
    font-size: 35px;
}
/* ROW MOTIVASI */

/* ROW MEET */
.row-row-meet{
    height: 800px;
    overflow-y: scroll;
    margin-bottom: 30px;
}
.card-meet{
    background: url(../assets/Komunitas/rkuliah.jpg);
    background-size: cover;
    background-position: 0 -500px;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: 15px 10px 50px 0;
    position: relative;
    overflow: hidden;
    padding: 0;
}
.card-meet-keterangan{
    background-color: var(--warna1);
    width: 20%;
    height: 100%;
    color: white;
    padding: 20px;
}
.card-meet-keterangan p{
    margin: 0;
    font-size: 25px;
}
/* ROW MEET */
