body{
    background-color: var(--warna3) ;
}
.container{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
    position: relative;
    padding: 30px 80px 30px 100px;
}
a{
    text-decoration: none;
}

/* ROW JUDUL */
.row-judul h1{
    margin: 0;
    font-weight: 600;
}
.row-judul p{
    font-size: 14px;
    color: var(--warna6);
}
/* ROW JUDUL */

/* ROW MOTIVASI */
.row-motivasi{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row-motivasi .center-row{
    width: 80%;
}
.card-motivasi{
    background-color: var(--warna1);
    color: white;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.nyumbang{
    text-align: center;
}
/* ROW MOTIVASI */

/* ROW MEET */
.row-row-meet{
    margin-bottom: 30px;
}
.gambar-card{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    transition: 0.5s;
}
.card-meet{
    border-radius: 15px;
    margin: 15px 10px 30px 0;
    position: relative;
    overflow: hidden;
    padding: 0;
}
.card-meet:hover .gambar-card{
    transform: scale(1.1);
}
.card-meet-keterangan{
    background-color: var(--warna1);
    width: 29%;
    height: 100%;
    color: white;
    padding: 20px;
    position: relative;
    z-index: 1;
}
.card-meet-keterangan p{
    margin: 0;
    font-size: 16px;
}
.link-motivasi{
    text-decoration: none;
    color: var(--warna1);
    font-weight: bold;
}
/* ROW MEET */

@media (max-width: 992px) {
    .container {
        padding: 100px 15px;
    }
    .row-motivasi .center-row{
        width: 100%;
    }
    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        padding: 0 40px;
    }
    .gambar-card{
        width: 100%;
    }
    .card-meet-keterangan{
        width: 42%;
    }
    .row-judul{
        text-align: center;
    }
}
@media (max-width: 400px) {
    .gambar-card{
        height: 100%;
        width: 100%;
    }
    .card-meet-keterangan{
        width: 60%;
    }
}