@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
	background:url(../assets/Login/bg-login.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.container{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Kotak Login*/
.login-box{
	background-color: rgba(255, 255, 255, 0.7);
	padding: 40px 70px;
	width: 450px;
	border-radius: 15px;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}
/* Kotak Login*/

/* Form dan Input */
.judul-login{
	font-weight: 600;
}
.ket-login{
	font-size: 12px;
	color: var(--warna6);
}
.form-group {
	margin-bottom: 15px;
	border-radius: 15px;
}
.form-group .input-control {
	padding: 10px 16px;
    background-color: transparent;
	width: 100%;
	box-sizing: border-box;
	font-size:15px;
	border-radius: 15px;	
}
input:focus{
    border: 3px solid #2A41F8;
    outline: none !important;
}
/* Form Input */

/* Button */
.btn{
	width: 100%;
	padding:10px;
	font-size:15px;
	background-color: #2A41F8;
	border-radius: 10px;
    font-weight: 600;
	color: #FFFFFF;
}
.btn:hover {
	cursor: pointer;
}
/* Button */

/* Remember Me */
.rememberme-box{
    display: flex;
    align-items: center;
}
#rememberme{
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.rememberme-label{
    font-weight: 600;
	font-size: 15px;
    user-select:none;
    -moz-user-select:none;
    cursor: pointer;
}
/* Remember Me */

/* BLM PUNYA AKUN */
.blmpunya{
	text-align: center;
	margin-top: 20px;
	font-weight: 500;
	font-size: 13px;
}
.daftar{
    color: #2A41F8;
    text-decoration: none;
    font-weight: 700;
}
/* BLM PUNYA AKUN */

/* ALERT (BLM KEPAKE) */
.alert {
	padding:10px 16px;
	border:1px solid;
	border-radius: 15px;
}
.alert-error {
	border:1px solid #2A41F8;
	border-radius: 15px;
}
/* ALERT (BLM KEPAKE) */