body{
    background-color: var(--warna3) ;
}
.container{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
    position: relative;
}
.row{
    padding: 30px 40px 0 40px;
}
a{
    text-decoration: none;
}
.kembali{
    color: var(--warna6);
    font-weight: 700;
    display: flex;
    align-items: center;
}

.evolusi{
    display: flex;
    align-items: center;
}
.evolusi div{
    text-align: center;
    padding: 10px;
}
.evolusi div p{
    margin: 0;
    font-weight: 700;
}

@media (max-width: 991.98px) { 
    .row{
        padding:20px 0 0 0px;
    }
    .row-benefit{
        padding:20px 0 0 18px;
    }
    .evolusi{
        display: flex;
        align-items: center;
    }
    .evolusi div{
        font-size: 3.5vw;
        padding: 0 3px;
    }
    .evolusi img{
        width: 10vw;
    }
    .benefit{
        width: 100%;
    }
}