body{
    background-color: var(--warna3) ;
}
.container{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
    position: relative;
    padding: 30px 90px;
}
.row-judul{
    margin-bottom: 30px;
}
.row-judul .kolom-kiri{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-judul .kolom-kanan{
    display: flex;
    align-items: center;
}

.row-judul .kolom-kanan h1{
    font-size: 26px;
    font-weight: 700;
    margin: 0;
}
.row-judul .kolom-kanan p{
    margin: 0;
}