.pokemon-icon[pokemon=none]{
    content:url("../assets/starter-pokemon/none/1.png");
}
.pokemon-icon[pokemon=abra]{
    content:url("../assets/starter-pokemon/abra/1.png");
}
.pokemon-icon[pokemon=aron]{
    content:url("../assets/starter-pokemon/aron/1.png");
}
.pokemon-icon[pokemon=axew]{
    content:url("../assets/starter-pokemon/axew/1.png");
}
.pokemon-icon[pokemon=bulbasaur]{
    content:url("../assets/starter-pokemon/bulbasaur/1.png");
}
.pokemon-icon[pokemon=charmander]{
    content:url("../assets/starter-pokemon/charmander/1.png");
}
.pokemon-icon[pokemon=chikorita]{
    content:url("../assets/starter-pokemon/chikorita/1.png");
}
.pokemon-icon[pokemon=chimchar]{
    content:url("../assets/starter-pokemon/chimchar/1.png");
}
.pokemon-icon[pokemon=cyndaquil]{
    content:url("../assets/starter-pokemon/cyndaquil/1.png");
}
.pokemon-icon[pokemon=deino]{
    content:url("../assets/starter-pokemon/deino/1.png");
}
.pokemon-icon[pokemon=dratini]{
    content:url("../assets/starter-pokemon/dratini/1.png");
}
.pokemon-icon[pokemon=gastly]{
    content:url("../assets/starter-pokemon/gastly/1.png");
}
.pokemon-icon[pokemon=gible]{
    content:url("../assets/starter-pokemon/gible/1.png");
}
.pokemon-icon[pokemon=klink]{
    content:url("../assets/starter-pokemon/klink/1.png");
}
.pokemon-icon[pokemon=larvitar]{
    content:url("../assets/starter-pokemon/larvitar/1.png");
}
.pokemon-icon[pokemon=Lotad]{
    content:url("../assets/starter-pokemon/Lotad/1.png");
}
.pokemon-icon[pokemon=mudkip]{
    content:url("../assets/starter-pokemon/mudkip/1.png");
}
.pokemon-icon[pokemon=oshawott]{
    content:url("../assets/starter-pokemon/oshawott/1.png");
}
.pokemon-icon[pokemon=piplup]{
    content:url("../assets/starter-pokemon/piplup/1.png");
}
.pokemon-icon[pokemon=poliwag]{
    content:url("../assets/starter-pokemon/poliwag/1.png");
}
.pokemon-icon[pokemon=ralts]{
    content:url("../assets/starter-pokemon/ralts/1.png");
}
.pokemon-icon[pokemon=shinx]{
    content:url("../assets/starter-pokemon/shinx/1.png");
}
.pokemon-icon[pokemon=snivy]{
    content:url("../assets/starter-pokemon/snivy/1.png");
}
.pokemon-icon[pokemon=spheal]{
    content:url("../assets/starter-pokemon/spheal/1.png");
}
.pokemon-icon[pokemon=squirtle]{
    content:url("../assets/starter-pokemon/squirtle/1.png");
}
.pokemon-icon[pokemon=starly]{
    content:url("../assets/starter-pokemon/starly/1.png");
}
.pokemon-icon[pokemon=tepig]{
    content:url("../assets/starter-pokemon/tepig/1.png");
}
.pokemon-icon[pokemon=torchic]{
    content:url("../assets/starter-pokemon/torchic/1.png");
}
.pokemon-icon[pokemon=totodile]{
    content:url("../assets/starter-pokemon/totodile/1.png");
}
.pokemon-icon[pokemon=Treecko]{
    content:url("../assets/starter-pokemon/Treecko/1.png");
}
.pokemon-icon[pokemon=turtwig]{
    content:url("../assets/starter-pokemon/turtwig/1.png");
}
.pokemon-icon[pokemon=vanillite]{
    content:url("../assets/starter-pokemon/vanillite/1.png");
}
.pokemon-icon[pokemon=wurmple]{
    content:url("../assets/starter-pokemon/wurmple/1.png");
}