body{
    background-color: var(--warna3) ;
}
.container{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
    position: relative;
    padding: 30px 90px;
}
.row:not(.row-judul) {
    border: 2px solid #47474750;
    border-style: none;
    border-top-style: solid;
    padding: 10px 0;
}
.row-judul h1{
    font-weight: 700;
}

/* +++++++++++===================++++++++++++ */

/* KOLOM KIRI */
.kolom-kiri p{
    margin: 0;
    color: var(--warna6);
    font-size: 14px;
}
.kolom-kiri p:nth-child(1){
    font-weight: 600;
    font-size: 18px;
}
/* KOLOM KIRI */

/* +++++++++++===================++++++++++++ */

/* KOLOM TENGAH */
input{
    border-radius: 10px;
    padding: 3px 10px;
    border: 1px solid var(--warna6);
}
input:focus{
    outline: 3px solid var(--warna1);
}
input:disabled {
    cursor: not-allowed;
}
label{
    font-size: 12px;
    color: var(--warna6);
    cursor: pointer;
}
.row-email input , .row-password input{
    width: 100%;
}
.kolom-tengah img{
    width: 120px;
}
.row-icon .kolom-tengah{
    font-size: 12px;
    color: var(--warna6);
}
.pokemon-icon{
    content:url("../assets/starter-pokemon/egg.png");
    width: 120px;
}
/* KOLOM TENGAH */

/* +++++++++++===================++++++++++++ */

/* KOLOM KANAN */
.kolom-kanan {
    display: flex;
    justify-content: end;
    align-items:flex-start;
}
.kolom-kanan .hapus{
    background-color: transparent;
    border: 1px solid var(--warna6);
    color: var(--warna6);
    margin-right: 10px;
    padding: 10px 0;
    width: 100px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
}
.kolom-kanan .ubah{
    background-color:white;
    border: 2px solid black;
    color: black;
    padding: 10px 15px;
    width: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
}
.kolom-kanan .ubah img{
    margin-left: 5px;
}
.kolom-kanan .simpan{
    background-color:var(--warna1);
    color: white;
    border: none;
    padding: 8px;
    width: 120px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
}
.kolom-kanan .pilih-icon{
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    padding: 10px;
    display: none;
}
.kolom-kanan .dek-kartu{
    border: 2px solid black;
    border-style: none;
    border-bottom-style: solid;
    height: 300px;
    overflow-y: auto;
}
.kolom-kanan .row-dekkartu{
    display: flex;
}
.kolom-kanan .ganti{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.kolom-kanan .kartu-icon{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    padding: 15px 20px;
    margin: 10px;
    cursor: pointer;
}
.kolom-kanan .kartu-icon[pilih=no] {
    border: 1px solid rgba(0, 0, 0, 0.11);
}
.kolom-kanan .kartu-icon[pilih=yes] {
    border: 2px solid var(--warna1);
}
.kolom-kanan .kartu-icon img{
    width: 80px;
    height: 80px;
}
.kolom-kanan .kartu-icon p{
    font-weight: 700;
    font-size: 12px;
}
.kolom-kanan .cancel-icon{
    background-color: transparent;
    border: 1px solid var(--warna6);
    color: var(--warna6);
    margin-right: 10px;
    padding: 8px;
    width: 100px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
}
.kolom-kanan .ubah-icon{
    background-color:var(--warna1);
    color: white;
    border: none;
    padding: 8px;
    width: 120px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
}
/* KOLOM KANAN */

@media (max-width: 991.98px) { 
    .container {
        padding: 100px 8vw 30px 8vw;
    }
    .row{
        text-align: center;
    }
    .kolom-kanan {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .kolom-kanan .pilih-icon {
        width: 90vw;
    }
    .kolom-kanan .dek-kartu {
        overflow: auto;
    }
    .kolom-kanan .row-dekkartu {
        display: block;
    }
    .kolom-kanan .ganti {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

